{
  "Profiles": [
    {
      "Name": "{{ iterm2_profile_name }}",
      "Guid": "{{ iterm2_dynamic_profile_guid }}",
      "Normal Font": "{{ terminal_font }} {{ terminal_font_size }}",
      "Use Non-ASCII Font": false,
      "Custom Command": "No",
      "Command": "",
      "Custom Directory": "No",
      "Working Directory": "",
      "Unlimited Scrollback": true,
      "Scrollback Lines": 100000,
      "Tags": ["dev-environment-setup"]
    }
  ]
}
